<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid" style="padding: 20px">

    <div class="row" th:switch="${privilege}">
        <div class="alert alert-dismissible alert-warning col-lg-offset-3 col-lg-6" th:case="reject">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Warning!</h4>
            <p>对不起，您的权限不足以执行该操作。</p>
        </div>
        <div class="alert alert-dismissible alert-success col-lg-offset-3 col-lg-6" th:case="accept">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Success!</h4>
            <p>恭喜，您有权限执行该操作。</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-lg-offset-1">
            <h1>RBAC</h1>
            <p class="lead">将全国人民通过不同身份进行角色划分，分配不同权限，在页面展示不同元素</p>
            <a href="/test" class="btn btn-default btn-lg btn-block btn-raised">权限测试按钮</a>
        </div>

        <div class="col-lg-offset-1 col-lg-5">
            <div class="well well-lg well-block">
                <h2><i th:text="${user.getUsername()}"></i></h2>
                <div class="role-group-well">
                    <div class="role-block">
                        <p class="role-header">你的角色 :</p>
                        <div th:each="rolename : ${rolelist}">
                            <li class="role-item" th:text="${rolename}"></li>
                        </div>
                    </div>
                    <div class="role-block">
                        <p class="role-header">你所属的群体 :</p>
                        <div th:each="groupname : ${grouplist}">
                            <li class="role-item" th:text="${groupname}"></li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-1 col-lg-10 well well-lg">
            <h3>
                <em>办公模块：</em>
            </h3>

            <div class="row">
                <div class="col-lg-4" th:each="element : ${elements}">
                    <div class="panel panel-primary info-panel">
                        <div class="panel-heading">
                            <h3 class="panel-title" th:text="${element}"></h3>
                        </div>
                        <div class="panel-body">
                            detail information...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px">
        <div class="col-lg-offset-1 col-lg-10 well well-lg">
            <h3>
                <em>操作：</em>
            </h3>
            <div class="row">
                <div class="col-lg-4" th:each="operation : ${operations}">
                    <a href="javascript:void(0)"
                       style="width: 90%"
                       class="btn btn-raised btn-primary"
                       onclick=f(this)
                        th:text="${operation}"></a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal" id="op-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>information</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick=disf()>Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script type="application/javascript">
    function f(obj) {
        var t = document.getElementById("op-modal");
        t.firstElementChild.firstElementChild.firstElementChild.firstElementChild.textContent = obj.textContent;
        t.style.display = "block";
    }
    function disf() {
        document.getElementById("op-modal").style.display = "none";
    }
</script>
</html>