<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <link href="/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/css/ripples.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/material.min.js"></script>
    <script src="/js/ripples.min.js"></script>
</head>
<body>
    <h1 class="h1">Welcome to RBAC system!</h1>
    <a href="javascript:void(0)" class="btn btn-raised btn-success">Success</a>

</body>
</html>