<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:tx="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>login</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <h1 class="h1">Welcome to hahahawu's RBAC system!</h1>
        </div>
    </div>

    <div class="row" th:if="${status}!='login'">
        <div class="alert alert-dismissible alert-warning col-lg-offset-3 col-lg-6">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Warning!</h4>
            <p>Your password is wrong. Or, the user is not exist.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-offset-3 col-lg-6">
            <div class="login-panel">
                <h2>Login</h2>
                <form class="form-horizontal" action="/home" method="post" style="margin-top: 20px">
                    <div class="form-group">
                        <label for="inputusername" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" name="username" class="form-control" id="inputusername" placeholder="Username" onfocus=getfocus(this) onblur=lostfocused(this)>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" name="userpassword" class="form-control" id="inputPassword" placeholder="Password" onfocus=getfocus(this) onblur=lostfocused(this)>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default btn-raised">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script type="application/javascript">
    function getfocus(obj) {
        obj.parentNode.parentNode.className = "form-group is-focused";
    }
    function lostfocused(obj) {
        obj.parentNode.parentNode.className = "form-group";
    }
</script>
</html>